<!DOCTYPE html>
<html>
  <head>
    <title>Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1>Express Skills</h1>
    </header>
    <nav>
        <a href="/">HOME</a> &nbsp;| &nbsp;
        <a href="/skills">SKILLS LIST</a>
    </nav>